body {
margin: 0;
background: black;
}

canvas {
display: block;
position:absolute;
top:0;
left:0;
}

#size{
	position: relative;
	height: 100%;
}

.cont{
	background: black;
	position: relative;
	height: 50px;
	z-index: 1;
}

.cont2{	
	position: absolute;
	height: 50px;
	z-index: 1;
	bottom: 0;
	width: 100%;
}

.cont3{
	color: white;
	margin-top:3%;
	position: relative;
	width: 100%;
	z-index: 1;
}

.cont3 h3:hover{
	border-bottom: 6px solid !important;
	transition: 0.3s;
}