{% extends 'base.html' %}
{% load static %}
{%block page%}
<div class="row">
	<div class="col-lg-12">
		<img src="{% static 'img/banner.png' %}" class="banner">
	</div>

	{%for work in works%}
	<div class="col-lg-3">
		<div class="thumbnail text-center">
			<a href="{% url 'work_detail' work.id %}"><img src="/media/{{work.photo}}" alt="" style="max-height: 200px"></a>
			<div >
				<p><a href="{% url 'work_detail' work.id %}">{{work.title}}</a></p>
				<p><span>by <a href="#">{{work.user.username}}</a></span><b class="ml-3 text-success">{{work.price}} CESCs</b></p>
			</div>
		</div>
	</div>
	{%endfor%}
</div>
{%endblock%}