{% load static %}
<html>
	<head>
		<title>STDEVELOPR</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}" />
		<link rel="shortcut icon" href="{% static 'main/images/favicon.ico' %}">
	</head>
	<body>
		<div id="size">
			<div class="cont text-center">
				<img src="{% static 'main/images/logo.png' %}" alt="" style="height: 100px; width: 100px">
			</div>
			<div class="cont3 d-inline-block text-center"><a href="/portfolio"><h3 class="d-inline-block border-bottom text-light">Portfolio</h3></a></div>
			<canvas id="canvas">Canvas is not supported in your browser.</canvas>
			<canvas id="canvas2">Canvas is not supported in your browser.</canvas>
			<div class="cont2 text-center text-light"><h3>...COMING SOON...</h3></div>
		</div>
		<!-- Bootstrap CDN-->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
		<script src="{% static 'main/js/my.js' %}"></script>
	</body>
</html>